<app-dialog #dialog>
  <h2 title>
    {{ i18n.module('confirm-to-remove') | translate }}
  </h2>
  <div class="remove-list-container" *ngIf="items">
    <div class="remove-list">
      <div *ngFor="let item of items" class="remove-item-view">
        <app-item-view
          *ngIf="item"
          [category]="category"
          [id]="item.info.id"
          [rarity]="item.info.rarity"
        >
        </app-item-view>
      </div>
    </div>
  </div>
  <div actions class="remove-confirm-actions">
    <app-ring-button
      class="remove-confirm-actions-btn cancel-btn"
      (clicked)="dialog.close()"
    >
      {{ i18n.dict('cancel') | translate }}
    </app-ring-button>
    <app-ring-button
      class="remove-confirm-actions-btn confirm-btn"
      (clicked)="emitConfirm()"
    >
      {{ i18n.dict('confirm') | translate }}
    </app-ring-button>
  </div>
</app-dialog>
