.add-party-btn
  margin: 7.5px 4px
  width: 96px
  height: 34px

.party-weapon-overview
  min-width: 72px
  height: 110px
  padding: 4px 8px
  font-size: 12px

.party-weapon-overview-label
  color: #3f51b5

.party-weapon-overview-data
  text-align: right
