<app-dialog #dialog>
  <h1 title>
    {{ i18n.dict('materials.' + id) | translate }}
    -
    {{ i18n.module('total-requirement') | translate }}
    {{ totalNeed | number: '1.0-0' }}
  </h1>
  <div class="content">
    <ng-container *ngFor="let mark of marks">
      <div style="text-align: center">
        {{ i18n.dict(types[mark.type]) | translate }}
      </div>
      <div style="text-align: center">
        {{ i18n.dict(types[mark.type] + 's.' + mark.id) | translate }}
      </div>
      <div style="text-align: center">
        {{ mark.use | translate }}
      </div>
      <div style="text-align: center">
        {{ mark.start }}
      </div>
      <div style="text-align: center">
        →
      </div>
      <div style="text-align: center">
        {{ mark.goal }}
      </div>
      <div style="text-align: center">
        {{ i18n.module('requirement') | translate }}
      </div>
      <div style="text-align: right">
        {{ mark.need | number: '1.0-0' }}
      </div>
    </ng-container>
  </div>
  <div actions>
    <app-ring-button class="close-btn" (click)="dialog.close()">
      {{ i18n.dict('close') | translate }}
    </app-ring-button>
  </div>
</app-dialog>
