<app-dialog #dialog>
  <h1 title>
    {{ i18n.dict('materials.' + id) | translate }}
    -
    {{ i18n.module('total-requirement') | translate }}
    {{ totalNeed | number: '1.0-0' }}
  </h1>
  <div class="content">
    <table class="requirement-table">
      <thead>
      <tr class="bg-primary-200">
        <th class="requirement-cell cell-border-b">
          {{ i18n.module('name') | translate }}
        </th>
        <th class="requirement-cell cell-border-b">
          {{ i18n.module('purpose') | translate }}
        </th>
        <th class="requirement-cell cell-border-b">
          {{ i18n.module('detail') | translate }}
        </th>
        <th class="requirement-cell cell-border-b">
          {{ i18n.module('requirement') | translate }}
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let mark of marks">
        <tr *ngFor="let detail of mark.details; let i = index">
          <td class="requirement-cell cell-border-b text-center" *ngIf="i === 0" [rowSpan]="mark.details.length">
            {{ i18n.dict(types[mark.type] + 's.' + mark.id) | translate }}
          </td>
          <td class="requirement-cell text-center" [class.cell-border-b]="i === mark.details.length - 1">
            {{ detail.purpose | translate }}
          </td>
          <td class="requirement-cell" [class.cell-border-b]="i === mark.details.length - 1">
            <div class="detail-cell">
              <span>
                {{ detail.start }}
              </span>
              →
              <span>
                {{ detail.goal }}
              </span>
            </div>
          </td>
          <td class="requirement-cell text-right" [class.cell-border-b]="i === mark.details.length - 1">
            {{ detail.need | number: '1.0-0' }}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div actions>
    <app-ring-button class="close-btn" (click)="dialog.close()">
      {{ i18n.dict('close') | translate }}
    </app-ring-button>
  </div>
</app-dialog>
