<div class="page-one-col-center">
  <h1>{{ i18n('title') | translate }}</h1>
  <div class="statistic-grid">
    <div *ngFor="let s of stat" class="flex-column">
      <div *ngFor="let f of s.stat.atkFields, let i = index" class="statistic-field">
        <mat-form-field
          (change)="f.correct(); calc(s.stat)"
          (input)="calc(s.stat)"
          appearance="outline"
          floatLabel="always"
        >
          <mat-label>
            {{ i18n(s.label) | translate }}
            {{ i18n(s.stat.atkFieldLabels[i]) | translate }}
          </mat-label>
          <input [formControl]="f.control" [max]="f.max" [min]="f.min" matInput required type="number"/>
          <div *ngIf="f.suffix" matSuffix>{{ f.suffix }}</div>
        </mat-form-field>
      </div>
      <div *ngFor="let f of [s.stat.atkIncPct, s.stat.atk], let i = index" class="statistic-field">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>
            {{ i18n(s.label) | translate }}
            {{ i18n(['atk-inc-pct', 'atk'][i]) | translate }}
          </mat-label>
          <input [formControl]="f" matInput readonly/>
          <div *ngIf="i === 0" matSuffix>%</div>
        </mat-form-field>
      </div>
      <div *ngFor="let f of s.stat.effectFields, let i = index" class="statistic-field">
        <mat-form-field
          (change)="f.correct(); calc(s.stat)"
          (input)="calc(s.stat)"
          appearance="outline"
          floatLabel="always"
        >
          <mat-label>
            {{ i18n(s.label) | translate }}
            {{ i18n(s.stat.effectFieldLabels[i]) | translate }}
          </mat-label>
          <input [formControl]="f.control" [max]="f.max" [min]="f.min" matInput required type="number"/>
          <div *ngIf="f.suffix" matSuffix>{{ f.suffix }}</div>
        </mat-form-field>
      </div>
      <div *ngFor="let f of s.stat.damages, let i = index" class="statistic-field">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>
            {{ i18n(s.label) | translate }}
            {{ i18n(s.stat.damageLabels[i]) | translate }}
          </mat-label>
          <input [formControl]="f" matInput readonly/>
        </mat-form-field>
      </div>
    </div>
    <div class="flex-column">
      <div *ngFor="let f of comparer.fields" class="statistic-field">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>
            {{ i18n('change') | translate }}
          </mat-label>
          <input [formControl]="f" matInput readonly/>
          <div matSuffix>%</div>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
