<ng-container *ngIf="weapons$ | async as weapons">
  <app-weapon-list
    #list
    [weapons]="weapons"
    [selectedItems]="selectedItems"
    (doubleClicked)="goToDetail($event)"
    (multiSelected)="updateSelected($event)"
  >
    <app-ring-button class="add-btn" (clicked)="goToAdd()">
      {{ i18n.module('add') | translate }}
    </app-ring-button>
    <app-multi-select-and-select-all
      [multiSelect]="multiSelect"
      [selectAll]="selectAll"
      (changed)="onMultiSelectChange($event)"
    >
    </app-multi-select-and-select-all>
    <app-ring-button
      *ngIf="selectedItems.length > 0"
      color="red"
      (clicked)="removeConfirm.open()"
    >
      {{ i18n.module('remove') | translate }}
    </app-ring-button>
    <app-item-summary-not-select
      not-select
      [type]="i18n.pDict('weapon')"
      [clickText]="i18n.pModule('summary.info-click')"
      [doubleClickText]="i18n.pModule('summary.detail-double-click')"
    ></app-item-summary-not-select>
  </app-weapon-list>
</ng-container>
<app-remove-confirm-dialog
  category="weapons"
  [items]="selectedItems"
  (confirm)="remove()"
  #removeConfirm
>
  <app-remove-confirm-dialog></app-remove-confirm-dialog>
</app-remove-confirm-dialog>
