<article class="page">
  <section>
    <h1>
      {{ i18n.dict('title') | translate }}
    </h1>
    <p>
      {{ i18n.module('introduction') | translate }}
      <a
        href="https://github.com/nagame2036/genshin-impact-paimon-toolbox/issues"
      >issue</a
      >
      {{ i18n.dict('and') | translate }}
      <a
        href="https://github.com/nagame2036/genshin-impact-paimon-toolbox/pulls"
      >pull request</a
      >
    </p>
    <p>
      Github:
      <a href="https://github.com/nagame2036/genshin-impact-paimon-toolbox">
        nagame2036/genshin-impact-paimon-toolbox
      </a>
    </p>
    <p>
      {{ i18n.module('mihoyo-copyright') | translate }}
    </p>
  </section>
  <section>
    <h2>
      {{ i18n.module('thanks') | translate }}
    </h2>
    <ul>
      <li>
        <a href="https://bbs.mihoyo.com/ys/obc/encyc">米游社·原神·观测枢</a>
      </li>
      <li>
        <a href="https://wiki.biligame.com/ys">原神WIKI 哔哩哔哩游戏</a>
      </li>
      <li>
        <a href="https://genshin-impact.fandom.com/wiki/Genshin_Impact_Wiki">
          Fandom | Genshin Impact Wiki
        </a>
      </li>
      <li>
        <a href="https://genshin.honeyhunterworld.com">
          Honey Impact | Genshin Impact DB and Tools
        </a>
      </li>
      <li>
        <a href="https://github.com/Dimbreath/GenshinData">
          Dimbreath/GenshinData Repository containing the game data for the game
          Genshin Impact.
        </a>
      </li>
      <li>
        <a href="https://nga.178.com/read.php?tid=23711373">
          终结暴击暴伤攻击力之争，同数值权重下的暴击暴伤攻击分配 NGA玩家社区
        </a>
      </li>
    </ul>
  </section>
</article>
