<div class="page-one-col-center">
  <div class="page-one-col-width">
    <h1 class="header">{{ 'title' | translate }}</h1>
    <mat-divider inset></mat-divider>
    <p>
      Github: <a href="https://github.com/nagame2036/genshin-impact-paimon-toolbox">
      nagame2036/genshin-impact-paimon-toolbox</a>
    </p>

    <h2 class="header">{{ i18n.module('thanks') | translate }}</h2>
    <mat-divider inset></mat-divider>
    <p>{{ i18n.module('mihoyo-copyright') | translate }}</p>
    <p>鸣谢以下内容及其作者所提供的数据及帮助:</p>
    <ul>
      <li>
        <a href="https://bbs.mihoyo.com/ys/obc/encyc">
          米游社·原神·观测枢
        </a>
      </li>
      <li>
        <a href="https://wiki.biligame.com/ys">
          原神WIKI 哔哩哔哩游戏
        </a>
      </li>
      <li>
        <a href="https://genshin-impact.fandom.com/wiki/Genshin_Impact_Wiki">
          Fandom | Genshin Impact Wiki
        </a>
      </li>
      <li>
        <a href="https://genshin.honeyhunterworld.com">
          Honey Impact | Genshin Impact DB and Tools
        </a>
      </li>
      <li>
        <a href="https://github.com/Dimbreath/GenshinData">
          Dimbreath/GenshinData Repository containing the game data for the game Genshin Impact.
        </a>
      </li>
      <li>
        <a href="https://nga.178.com/read.php?tid=23711373">
          终结暴击暴伤攻击力之争，同数值权重下的暴击暴伤攻击分配 NGA玩家社区
        </a>
      </li>
    </ul>
  </div>
</div>
