@import '../../../../assets/styles/app-form-field';

.current-goal-select-container {
  margin: 4px;
  padding: 0 1px;
  height: 48px;
  border: solid 1px #e0e0e0;
  border-radius: 4px;

  legend {
    margin-left: 9px;
    font-size: 9px;
    color: rgb(0, 0, 0, .6);
  }
}

.current-goal-select-field {
  margin: -8px 0 8px 0;

  ::ng-deep {
    .mat-form-field-outline-start {
      border: none;
    }

    .mat-form-field-outline-gap {
      border: none;
    }

    .mat-form-field-outline-end {
      border: none;
    }
  }
}

.current-goal-select-field-left {
  @extend .current-goal-select-field;
  margin-left: -2px;
}

.current-goal-select-field-right {
  @extend .current-goal-select-field;
  margin-right: -2px;
}
