<fieldset class="current-goal-select-container" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
  <legend>
    <ng-content></ng-content>
  </legend>
  <mat-form-field appearance="outline" floatLabel="always" class="app-form-field current-goal-select-field-left">
    <mat-select [value]="current" (selectionChange)="setCurrent($event.value)">
      <mat-option *ngFor="let value of currentOptions; let i = index" [value]="value">
        {{ valueDisplay(value) | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon fxFlex="auto" class="current-goal-select-arrow">
    chevron_right
  </mat-icon>
  <mat-form-field appearance="outline" floatLabel="always" class="app-form-field current-goal-select-field-right">
    <mat-select [value]="goal" (selectionChange)="setGoal($event.value)">
      <mat-option *ngFor="let value of goalOptions; let i = index" [value]="value">
        {{ valueDisplay(value) | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</fieldset>
