@import '../../../../assets/styles/app-form-field';
@import '../../styles/satisfied';

.current-goal-select-container {
  margin: 4px;
  padding: 0 1px;
  height: 42px;
  border: solid 1px #e0e0e0;
  border-radius: 4px;

  legend {
    margin-left: 9px;
    font-size: 9px;
    color: rgb(0, 0, 0, .6);
  }
}

.current-goal-select-arrow {
  margin-left: 4px;
  margin-right: 0 !important;
  line-height: 30px;
}

.current-goal-select-button-arrow {
  @extend .satisfied;
  margin-left: 0;
  margin-right: 0 !important;
  line-height: 12px;
}

.current-goal-select-field {
  @extend .app-form-field;
  margin: -8px 0 2px 0;
  width: 120px;

  ::ng-deep {
    .mat-form-field-outline-start {
      border: none;
    }

    .mat-form-field-outline-gap {
      border: none;
    }

    .mat-form-field-outline-end {
      border: none;
    }
  }
}

.current-goal-select-field-left {
  @extend .current-goal-select-field;
  margin-left: -2px;
}

.current-goal-select-field-right {
  @extend .current-goal-select-field;
  margin-right: -2px;
}
