<app-character-list-options
  *ngIf="view.options | async as options"
  [viewSort]="true"
  (changed)="update()"
>
  <ng-content></ng-content>
</app-character-list-options>
<div class="container">
  <div class="item-list">
    <div
      *ngFor="let item of items"
      class="item-overview"
      [class.selected]="selectedItems.includes(item)"
      (click)="click(item)"
      (dblclick)="doubleClick(item)"
    >
      <app-item-view
        category="characters"
        [id]="item.info.id"
        [rarity]="item.info.rarity"
        [backgroundDeps]="item.info.element"
      ></app-item-view>
      <img
        class="weapon-type-hint"
        [src]="images.get('weapon-types', item.info.weapon)"
        [alt]="i18n.dict('weapon-types.' + item.info.weapon) | translate"
      />
      <table class="item-overview-table">
        <tr>
          <td>{{ i18n.dict('level') | translate }}</td>
          <td>
            <app-item-overview-data
              [left]="level.getText(item.progress)"
              [right]="level.getText(item.plan)"
              [displayRight]="
                item.progress.ascension < item.plan.ascension ||
                item.progress.level < item.plan.level
              "
            ></app-item-overview-data>
          </td>
        </tr>
        <tr *ngFor="let t of item.info.talentsUpgradable; let i = index">
          <td>{{ i18n.dict('talent-types.' + (t % 10)) | translate }}</td>
          <td>
            <app-item-overview-data
              [left]="item.progress.talents[t]"
              [right]="item.plan.talents[t]"
              [displayRight]="item.progress.talents[t] < item.plan.talents[t]"
            >
            </app-item-overview-data>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="item-summary">
    <ng-container *ngIf="clickedItem as item; else notSelect">
      <app-item-view
        class="item-summary-thumb"
        category="characters"
        [id]="item.info.id"
        [rarity]="item.info.rarity"
        [backgroundDeps]="item.info.element"
      ></app-item-view>
      <table class="item-summary-table">
        <tr>
          <td>{{ i18n.dict('rarity') | translate }}</td>
          <td>★{{ item.info.rarity }}</td>
        </tr>
        <tr>
          <td>{{ i18n.dict('element') | translate }}</td>
          <td>{{ i18n.dict('elements.' + item.info.element) | translate }}</td>
        </tr>
        <tr>
          <td>{{ i18n.dict('weapon') | translate }}</td>
          <td>
            {{ i18n.dict('weapon-types.' + item.info.weapon) | translate }}
          </td>
        </tr>
        <tr *ngIf="item.info.nation">
          <td>{{ i18n.dict('nation') | translate }}</td>
          <td>{{ i18n.dict('nations.' + item.info.nation) | translate }}</td>
        </tr>
      </table>
      <table class="item-summary-table">
        <tr>
          <td>{{ i18n.dict('constellation') | translate }}</td>
          <td>{{ item.progress.constellation }}</td>
        </tr>
        <tr>
          <td>{{ i18n.dict('level') | translate }}</td>
          <td>
            <app-item-overview-data
              [left]="level.getText(item.progress)"
              [right]="level.getText(item.plan)"
              [displayRight]="
                item.progress.ascension < item.plan.ascension ||
                item.progress.level < item.plan.level
              "
            ></app-item-overview-data>
          </td>
        </tr>
        <tr *ngFor="let t of item.info.talentsUpgradable; let i = index">
          <td>{{ i18n.dict('talent-types.' + (t % 10)) | translate }}</td>
          <td>
            <app-item-overview-data
              [left]="item.progress.talents[t]"
              [right]="item.plan.talents[t]"
              [displayRight]="item.progress.talents[t] < item.plan.talents[t]"
            >
            </app-item-overview-data>
          </td>
        </tr>
        <tr
          *ngFor="
            let type of service.getStatsTypes(item.info.id);
            let i = index
          "
        >
          <td>{{ i18n.stats(type) | translate }}</td>
          <td>
            <app-item-overview-stats-data
              [type]="type"
              [left]="item.currentStats.get(type)"
              [right]="item.planStats.get(type)"
              [displayRight]="
                item.currentStats.get(type) < item.planStats.get(type)
              "
            ></app-item-overview-stats-data>
          </td>
        </tr>
      </table>
      <div class="item-material-required">
        <app-item-view
          *ngFor="let m of clickedItemMaterials"
          class="item-summary-thumb"
          category="materials"
          [id]="m.info.id"
          [rarity]="m.info.rarity"
        ></app-item-view>
      </div>
    </ng-container>
    <ng-template #notSelect>
      <ng-content select="[not-select]"></ng-content>
    </ng-template>
  </div>
</div>
