<app-current-goal-select [currentOptions]="ascensions" [goalOptions]="goalAscensions"
                         [current]="ascension" (currentChange)="setAscension($event)"
                         [goal]="goalAscension" (goalChange)="setGoalAscension($event)"
                         [valueDisplay]="getAscension">
  {{ i18nDict(label + '-ascension-label') | translate }}
</app-current-goal-select>
<app-current-goal-select [currentOptions]="levels" [goalOptions]="goalLevels"
                         [current]="level" (currentChange)="setLevel($event)"
                         [goal]="goalLevel" (goalChange)="setGoalLevel($event)">
  {{ i18nDict(label + '-level-label') | translate }}
</app-current-goal-select>
