<app-weapon-grid
  #list
  [weapons]="items"
  [selected]="selectedItems"
  [clickText]="i18n.pModule('summary.info-click')"
  [doubleClickText]="i18n.pModule('summary.detail-double-click')"
  (doubleClicked)="goToDetail($event)"
  (multiSelected)="updateSelected($event)"
>
  <app-ring-button class="add-btn" (clicked)="goToAdd()">
    {{ i18n.module('add') | translate }}
  </app-ring-button>
  <app-multi-select-and-select-all
    [multiSelect]="multiSelect"
    [selectAll]="selectAll"
    (changed)="onMultiSelect($event); list.onMultiSelect($event)"
  >
  </app-multi-select-and-select-all>
  <app-ring-button
    *ngIf="selectedItems.length > 0"
    color="red"
    (clicked)="removeConfirm.open()"
  >
    {{ i18n.module('remove') | translate }}
  </app-ring-button>
</app-weapon-grid>
<app-remove-confirm-dialog
  #removeConfirm
  category="weapons"
  [items]="selectedItems"
  (confirm)="remove()"
></app-remove-confirm-dialog>
