<div class="page">
  <h1 class="title">
    {{ i18n.module('title') | translate }}
  </h1>
  <div class="resin-inputs">
    <app-number-field class="resin-field" [value]="resin" (inputted)="setResin($event)">
      <span form-label>
        {{ i18n.module('current') | translate }}
      </span>
      <span suffix>
        {{ i18n.dict('resin') | translate }}
      </span>
    </app-number-field>
    <app-number-field class="resin-field" [value]="minutes" (inputted)="setMinutes($event)">
      <span form-label>
        {{ i18n.module('replenished-in') | translate }}
      </span>
      <span suffix>
        {{ i18n.dict('minutes') | translate }}
      </span>
    </app-number-field>
    <app-form-field *ngFor="let result of results" class="result" [ngClass]="{'disabled': resin >= result.target}">
      <span form-label>
        {{ i18n.module('replenished-to') | translate }} {{ result.target }}
      </span>
      {{ resin >= result.target ? (i18n.module('now') | translate) : result.time }}
    </app-form-field>
  </div>
</div>
