<app-form-field
  class="form-container"
  [class.hover]="left.hover || right.hover"
  [class.focus]="left.focus || right.focus"
>
  <span form-label>
    <ng-content></ng-content>
  </span>
  <div class="form">
    <app-select
      #left
      class="value"
      [options]="currOptions"
      [value]="curr"
      (changed)="setCurr($event)"
    >
    </app-select>
    <button
      class="execute-plan-btn"
      [class.reached]="checkReached(reached)"
      [disabled]="!checkReached(reached)"
      (click)="executePlan.emit()"
    >
      <span class="material-icons arrow">chevron_right</span>
    </button>
    <app-select
      #right
      class="value"
      [options]="planOptions"
      [value]="plan"
      (changed)="setPlan($event)"
    >
    </app-select>
  </div>
</app-form-field>
