<app-current-goal-select
  [currentOptions]="ascensions"
  [current]="ascension"
  [goalOptions]="goalAscensions"
  [goal]="goalAscension"
  [reached]="reached"
  (executePlan)="executePlan.emit()"
  (currentChange)="setAscension($event)"
  (goalChange)="setGoalAscension($event)"
>
  {{ i18n.dict('ascension-label') | translate }}
</app-current-goal-select>
<div style="height: 0.1rem"></div>
<app-current-goal-select
  [currentOptions]="levels"
  [current]="level"
  [goalOptions]="goalLevels"
  [goal]="goalLevel"
  [reached]="reached"
  (executePlan)="executePlan.emit()"
  (currentChange)="setLevel($event)"
  (goalChange)="setGoalLevel($event)"
>
  {{ i18n.dict('level-label') | translate }}
</app-current-goal-select>
