.view-container {
  @apply relative;
  @apply rounded;
}

.image-container {
  height: 100px;
  @apply relative;
  @apply flex;
  @apply items-center;
  @apply justify-items-center;
  @apply overflow-hidden;
  @apply rounded-t;
  @apply rounded-br-2xl;
}

$rarities: (
  1: #676f7c,
  2: #4f7d6b,
  3: #4b94aa,
  4: #a27bba,
  5: #d59e4f,
);

@each $rarity, $color in $rarities {
  .background-#{$rarity} {
    background: $color;
  }
}

$elements: (
  101: #3baeaf,
  102: #ba9546,
  103: #8d5abc,
  105: #3e67af,
  106: #c26544,
  107: #76d5e4,
);

@each $element, $color in $elements {
  .background-#{$element} {
    background: $color;
  }
}

.image {
  width: 100px;
  height: 100px;
  @apply block;
  @apply m-auto;
}

.stars {
  @apply w-full;
  @apply absolute;
  top: 84px;
  @apply flex;
  @apply flex-row;
  @apply place-content-center;
}

.name {
  @apply p-0.5;
  @apply text-center;
  @apply truncate;
}
