.view-container {
  @apply rounded;
}

.image-container {
  height: 100px;
  @apply relative;
  @apply flex;
  @apply items-center;
  @apply justify-items-center;
  @apply overflow-hidden;
  @apply rounded-t;
  @apply rounded-br-2xl;
}

$rarities: (1: #676f7c, 2: #4f7d6b, 3: #4b94aa, 4: #a27bba, 5: #d59e4f);

@each $rarity, $color in $rarities {
  .rarity-#{$rarity} {
    background: $color;
  }
}

.image {
  width: 100px;
  height: 100px;
  @apply block;
  @apply m-auto;
}

.name {
  @apply p-0.5;
  @apply text-center;
  @apply truncate;
}
