<div *ngIf="party && plan && plans" class="plan-content">
  <app-weapon-plan-form [weapon]="party" [plan]="plan" [goalStats]="goalStats" [requirements]="plans"
                        (executePlan)="executePlan($event)" (currentChange)="saveParty()" (goalChange)="savePlan()">
  </app-weapon-plan-form>
  <app-material-requirement class="cost-list" [requirements]="plans" [subtitles]="subtitles" [types]="types">
  </app-material-requirement>
</div>
<app-execute-plan-confirm-dialog #executePlanConfirm></app-execute-plan-confirm-dialog>
