<div *ngIf="character" class="plan-form-container">
  <app-item-view [item]="info" type="character"></app-item-view>
  <app-select
    class="attribute-select"
    [label]="
      (i18n.dict('constellation') | translate) +
      ' - ' +
      (i18n.data('constellation', info.id, 'name') | translate)
    "
    [options]="constellations"
    [value]="progress.constellation"
    (changed)="setConstellation($event)"
  ></app-select>
  <app-curr-plan-level-select
    label="character"
    [currLevel]="progress"
    [planLevel]="plan"
    [reached]="reachedStates[1]"
    (executePlan)="executePlan.emit(1)"
    (currChange)="setCurrLevel($event)"
    (planChange)="setPlanLevel($event)"
  ></app-curr-plan-level-select>
  <app-curr-plan-stats-comparator
    *ngFor="let type of service.getStatsTypes(info.id); let i = index"
    [type]="type"
    [curr]="character.currentStats.get(type)"
    [plan]="character.planStats.get(type)"
  ></app-curr-plan-stats-comparator>
  <app-curr-plan-select
    *ngFor="let talent of info.talentsUpgradable; let i = index"
    [label]="
      (i18n.data('talent-type', talent % 10) | translate) +
      ' - ' +
      (i18n.data('talent', talent) | translate)
    "
    [currOptions]="currTalentLevels[talent]"
    [planOptions]="planTalentLevels[talent]"
    [curr]="progress.talents[talent] || 1"
    [plan]="plan.talents[talent] || 1"
    (currChange)="setCurrTalent(talent, $event)"
    (planChange)="setPlanTalent(talent, $event)"
    [reached]="reachedStates[2 + i]"
    (executePlan)="executePlan.emit(2 + i)"
  ></app-curr-plan-select>
  <div *ngFor="let bonus of info.expBonus || []">
    {{ i18n.module('exp-bonus') | translate: bonus }}
  </div>
  <app-ring-button
    *ngIf="reachedStates.length > 0"
    class="execute-all-btn"
    color="primary"
    [class.reached]="reachedStates[0]"
    [disabled]="!reachedStates[0]"
    (clicked)="executePlan.emit(0)"
  >
    {{ i18n.module('execute-all-plan') | translate }}
  </app-ring-button>
</div>
