<div class="sub-toolbar">
  <button class="icon-btn" (click)="goBack()">
    <span class="material-icons">arrow_back</span>
  </button>
  <div class="sub-toolbar-title">
    {{ i18n.module('add') | translate }}
  </div>
</div>
<div class="subpage-padding-x">
  <app-character-info-grid
    *ngIf="!selected; else form"
    [characters]="characters"
    [clickText]="i18n.pModule('summary.info-click')"
    [doubleClickText]="i18n.pModule('summary.add-double-click')"
    (doubleClicked)="select($event)"
  ></app-character-info-grid>
  <ng-template #form>
    <div class="add-form">
      <app-character-plan-form
        [character]="selectedCharacter"
      ></app-character-plan-form>
      <div class="add-actions">
        <app-ring-button color="red" (clicked)="reset()">
          {{ i18n.module('reset') | translate }}
        </app-ring-button>
        <app-ring-button color="primary" (clicked)="add()">
          {{ i18n.module('add') | translate }}
        </app-ring-button>
      </div>
    </div>
  </ng-template>
</div>
