<div class="sub-toolbar">
  <button class="icon-btn" (click)="goBack()">
    <span class="material-icons">
      arrow_back
    </span>
  </button>
  <div class="sub-toolbar-title">
    {{ i18n.module('add') | translate }}
  </div>
</div>
<div class="add-content subpage-padding-x">
  <div *ngIf="!selected">
    <app-character-list [characters]="characters" (selected)="select($event)"></app-character-list>
  </div>
  <div class="add-form" *ngIf="selected">
    <app-character-plan-form [character]="selectedCharacter" [plan]="selectedPlan"></app-character-plan-form>
    <div *ngIf="selected" class="add-actions">
      <app-ring-button class="add-actions-btn reset-btn" (click)="reset()">
        {{ i18n.module('reset') | translate }}
      </app-ring-button>
      <app-ring-button class="add-actions-btn add-btn" [disabled]="!selected" (click)="add()">
        {{ i18n.module('add') | translate }}
      </app-ring-button>
    </div>
  </div>
</div>
