<app-form-field
  class="form-container"
  [ngClass]="{hover: hover, focus: focus, wrong: wrong}"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
  (focusin)="focus = true"
  (focusout)="focus = false"
>
  <ng-container form-label>
    <ng-content select="[form-label]"></ng-content>
  </ng-container>
  <div class="input-container">
    <div #prefix [class.prefix]="prefix.children.length > 0">
      <ng-content select="[prefix]"></ng-content>
    </div>
    <ng-container *ngTemplateOutlet="customInput || defaultInput">
    </ng-container>
    <ng-template #defaultInput>
      <input
        #field
        class="input-field w-full"
        type="text"
        [value]="value"
        [disabled]="disabled"
        (input)="inputted.emit((value = field.value))"
        (change)="changed.emit((value = field.value))"
      />
    </ng-template>
    <div #suffix [class.suffix]="suffix.children.length > 0">
      <ng-content select="[suffix]"></ng-content>
    </div>
  </div>
</app-form-field>
