<app-form-field
  class="form-container"
  [label]="label"
  [focus]="focus"
  [hover]="hover"
  [wrong]="wrong"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
  (focusin)="focus = true"
  (focusout)="focus = false"
>
  <div class="input-container">
    <ng-content select="[prefix]"></ng-content>
    <input
      #field
      class="input-field"
      type="text"
      [value]="value"
      [disabled]="disabled"
      [readOnly]="readOnly"
      (input)="inputted.emit((value = field.value))"
      (change)="changed.emit((value = field.value))"
    />
    <ng-content select="[suffix]"></ng-content>
  </div>
</app-form-field>
