<nav class="menu" [class.opened]="showMenu">
  <h1 class="menu-title">
    {{ i18n.dict('title') | translate }}
  </h1>
  <button class="menu-close-btn" (click)="showMenu = false">
    <span class="material-icons">close</span>
  </button>
  <div class="menu-links">
    <a
      *ngFor="let router of routers"
      class="menu-link"
      routerLinkActive="active"
      [routerLink]="router.path"
    >
      {{ i18n.path(router.path) | translate }}
    </a>
  </div>
</nav>
<main class="main" (click)="showMenu = false">
  <ng-content></ng-content>
</main>
