#nav {
  width: 16vh;
}

mat-nav-list {
  padding: 0;
}

a {
  display: flex;
  align-items: center;
}

@mixin route-active-color($alpha) {
  color: #3f51b5;
  background: rgba(63, 81, 181, $alpha);
}

.route-link {
  color: gray;

  &:hover {
    @include route-active-color(.30);
  }

  &.active {
    @include route-active-color(.15);
  }
}

.route-icon {
  margin: 2px 1.5vh 0 .5vh;
}

p {
  font-size: 21px;
}

mat-card {
  padding: 0;
}

#content {
  height: 100%;
  min-height: 92.5vh;
  padding: 1vh;
}

#subpage {
  min-height: 91vh;
}
