<div class="page-one-col-center">
  <div class="page-one-col-width">
    <h1 class="header">{{ 'title' | translate }}</h1>
    <mat-divider inset></mat-divider>
    <p>Github: <a href="https://github.com/nagame2036/genshin-impact-toolbox">nagame2036/genshin-impact-toolbox</a></p>

    <h2 class="header">{{ i18n('thanks') | translate }}</h2>
    <mat-divider inset></mat-divider>
    <ul>
      <li><a href="https://bbs.mihoyo.com/ys/obc/encyc">米游社·原神·观测枢</a></li>
      <li><a href="https://wiki.biligame.com/ys">原神WIKI 哔哩哔哩游戏</a></li>
      <li><a href="https://genshin-impact.fandom.com/wiki/Genshin_Impact_Wiki">Fandom | Genshin Impact Wiki</a></li>
    </ul>
  </div>
</div>
