<div class="character-stat-analyzer-page">
  <p [translate]="i18n('weight')"
     [translateParams]="{weight: weight, type: i18nDict(profile.dmgType) | translate}">
  </p>
  <div *ngFor="let f of fields" style="display: flex">
    <p [translate]="i18n(f.text)" [translateParams]="{
           dmgBonus: weight * 10,
           type: i18nDict(profile.dmgType) | translate,
           dmg: (f.value() || 0) | number: '1.1-1'
         }">
    </p>
    <button class="character-stat-analyzer-compare-button" mat-stroked-button (click)="copyAndCompare(f)"
            color="accent">
      {{ i18n('copy-and-compare') | translate }}
    </button>
  </div>
</div>
