<div *ngIf="view.options | async as options" class="inventory-header">
  <app-multi-select
    [options]="view.rarities"
    [value]="options.rarities"
    (changed)="view.changeRarity($event)"
  >
    <span form-label>
      {{ i18n.dict('rarity') | translate }}
    </span>
  </app-multi-select>
  <app-checkbox
    [label]="i18n.module('show-overflow') | translate"
    [value]="options.showOverflow"
    (checked)="view.changeShowOverflow($event)"
  ></app-checkbox>
  <app-checkbox
    [label]="i18n.module('concise-mode') | translate"
    [value]="options.conciseMode"
    (checked)="view.switchConciseMode($event)"
  ></app-checkbox>
</div>
