<app-character-list [party]="true" [characters]="characters" [itemWidth]="260"
                    [sortFields]="['level', 'rarity', 'constellation']" sort="level"
                    #list (selected)="selected.emit($event)" (multiSelected)="multiSelected.emit($event)">
  <div fxLayout="row" fxLayoutAlign="center center" list-actions>
    <button type="button" class="add-party-btn" mat-stroked-button (click)="create.emit($event)">
      {{ i18n('add') | translate }}
    </button>
    <ng-content select="[list-actions]"></ng-content>
  </div>
  <ng-template let-item #right>
    <ng-container *ngIf="getParty(item) as party">
      <ng-container *ngIf="getPlan(party) as plan">
        <div class="party-item-overview" gdAlignColumns="space-around stretch"
             gdColumns="55% 45%" gdRows="repeat(6, 1fr)"
             gdAreas="constellation constellation-data | ascension ascension-data | level level-data
                  | talent1 talent1-data | talent2 talent2-data | talent3 talent3-data">
          <div gdArea="constellation" class="party-item-overview-label party-item-overview-row-non-border-top">
            <b>{{ i18nDict('constellation') | translate }}</b>
          </div>
          <div gdArea="constellation-data" class="party-item-overview-data party-item-overview-row-non-border-top">
            {{ party.constellation }}
          </div>
          <div gdArea="ascension" class="party-item-overview-label">
            <b>{{ i18nDict('ascension') | translate }}</b>
          </div>
          <div gdArea="ascension-data" class="party-item-overview-data">
            {{ i18nDict('ascensions.' + party.ascension) | translate }}
            <ng-container *ngIf="party.ascension < plan.ascension">
              →
              {{ i18nDict('ascensions.' + plan.ascension) | translate }}
            </ng-container>
          </div>
          <div gdArea="level" class="party-item-overview-label">
            <b>{{ i18nDict('level') | translate }}</b>
          </div>
          <div gdArea="level-data" class="party-item-overview-data">
            {{ party.level }}
            <ng-container *ngIf="party.level < plan.level">
              →
              {{ plan.level }}
            </ng-container>
          </div>
          <div *ngFor="let _ of party.talents; let i = index"
               [gdArea]="'talent' + (i + 1)" class="party-item-overview-label">
            <b>{{ i18nDict('talent-types.' + i) | translate }}</b>
          </div>
          <div *ngFor="let talent of party.talents; let i = index"
               [gdArea]="'talent' + (i + 1) + '-data'" class="party-item-overview-data">
            {{ talent.level }}
            <ng-container *ngIf="talent.level < plan.talents[i].level">
              →
              {{ plan.talents[i].level }}
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</app-character-list>
