.add-party-btn
  margin-top: 3.5px
  width: 96px
  height: 52px

.party-character-overview
  min-width: 80px
  height: 110px
  padding: 4px 8px
  font-size: 9px

.party-character-overview-label
  color: #3f51b5

.party-character-overview-data
  text-align: right
