<app-party-character-list #list (add)="gotoAdd()" [selectedItems]="selectedItems"
                          (selected)="goToDetail($event)" (multiSelected)="updateSelected($event)">
  <div list-actions>
    <app-multi-select [multiSelect]="multiSelect" [selectAll]="selectAll" (changed)="onMultiSelectChange($event)">
    </app-multi-select>
    <button *ngIf="selectedItems.length > 0" type="button" mat-stroked-button color="warn" (click)="openRemoveDialog()">
      {{ i18n.module('remove') | translate }}
    </button>
  </div>
</app-party-character-list>
