<div class="sub-toolbar">
  <button class="icon-btn" (click)="goBack()">
    <span class="material-icons">arrow_back</span>
  </button>
  <div class="sub-toolbar-title">
    {{ i18n.module('detail') | translate }}
    -
    {{ i18n.dict('weapons.' + weaponId) | translate }}
  </div>
  <button class="icon-btn remove-btn" (click)="removeDialog.open([weapon])">
    <span class="material-icons">delete</span>
  </button>
</div>
<div class="detail-content">
  <app-nav-tabs [links]="links"></app-nav-tabs>
  <div class="detail-subpage">
    <router-outlet></router-outlet>
  </div>
</div>
<app-remove-confirm-dialog
  #removeDialog
  category="weapons"
  (confirm)="remove()"
></app-remove-confirm-dialog>
