<app-dialog #dialog (closed)="close()">
  <h1 title *ngIf="item">
    {{ i18n.module('craft') | translate }}
    {{ i18n.dict('materials.' + item.info.id) | translate }}
    -
    {{ i18n.module('lack') | translate }}
    {{ item.lack | number: '1.0-0' }}
  </h1>
  <div *ngIf="recipes.length > 0" class="craft-dialog">
    <app-select
      [options]="recipes"
      [value]="recipe"
      (changed)="changeRecipe($event)"
    >
      <span form-label>
        {{ i18n.module('recipe') | translate }}
      </span>
    </app-select>
    <div class="recipe-materials">
      <div class="recipe-material" *ngFor="let material of materials">
        <app-item-view
          category="materials"
          [id]="material[0].info.id"
          [rarity]="material[0].info.rarity"
          [width]="158"
        >
        </app-item-view>
        <table>
          <tr>
            <td class="pr-2">
              {{ i18n.module('have') | translate }}
            </td>
            <td class="text-right">
              {{ material[0].have | number: '1.0-0' }}
            </td>
          </tr>
          <tr>
            <td class="pr-2">
              {{ i18n.module('need') | translate }}
            </td>
            <td class="text-right">
              {{ material[1] * times | number: '1.0-0' }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="perform-times">
      {{
        (details[index].craftableAmount === 0
          ? this.i18n.module('insufficient')
          : this.i18n.module('performed-times')
        ) | translate: {num: times}
      }}
    </div>
    <app-slider
      [value]="times"
      [min]="0"
      [max]="details[index].craftableAmount"
      (changed)="times = $event"
    ></app-slider>
  </div>
  <div class="craft-actions" actions>
    <app-ring-button class="close-btn" (clicked)="close()">
      {{ i18n.dict('close') | translate }}
    </app-ring-button>
    <app-ring-button
      class="craft-btn"
      [disabled]="times === 0"
      (clicked)="craft()"
    >
      {{ i18n.module('craft') | translate }}
    </app-ring-button>
  </div>
</app-dialog>
