<div style="display: flex">
  <div class="statistic-field">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label [translate]="i18nDict('ascension')" [translateParams]="{label: i18nDict('character') | translate}">
      </mat-label>
      <mat-select [formControl]="ascensionControl" (selectionChange)="correct()">
        <mat-option *ngFor="let a of ascensions; let i = index" [value]="a">
          {{ i18nDict('ascensions.' + i) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="statistic-field">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label [translate]="i18nDict('level')" [translateParams]="{label: i18nDict('character') | translate}">
      </mat-label>
      <mat-select [formControl]="levelControl" (selectionChange)="correct()">
        <mat-option *ngFor="let level of levels[ascensionControl.value]" [value]="level">{{ level }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
