<div class="inventory-page">
  <mat-tab-group class="inventory-tab-group">
    <mat-tab [label]="i18n('common-materials') | translate">
      <div class="inventory-subpage">
        <app-inventory-common-materials></app-inventory-common-materials>
      </div>
    </mat-tab>
    <mat-tab [label]="i18n('character-ascension-materials') | translate">
      <div class="inventory-subpage">
        <app-inventory-character-ascension-materials></app-inventory-character-ascension-materials>
      </div>
    </mat-tab>
    <mat-tab [label]="i18n('weapon-ascension-materials') | translate">
      <div class="inventory-subpage">
        <app-inventory-weapon-ascension-materials></app-inventory-weapon-ascension-materials>
      </div>
    </mat-tab>
    <mat-tab [label]="i18n('enemies-materials') | translate">
      <div class="inventory-subpage">
        <app-inventory-enemies-materials></app-inventory-enemies-materials>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
