<div class="inventory-page">
  <mat-tab-group class="inventory-tab-group">
    <mat-tab [label]="i18n('mora-and-exp') | translate">
      <div class="inventory-subpage">
        <app-mora-and-exp-inventory></app-mora-and-exp-inventory>
      </div>
    </mat-tab>
    <mat-tab *ngFor="let page of pages" [label]="i18n(page.label) | translate">
      <div class="inventory-subpage">
        <app-material-list [items]="page.items | async"></app-material-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
