<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <mat-form-field fxFlex="1 1 12%" appearance="outline" floatLabel="always" class="app-form-field">
    <mat-label>{{ i18nDict('rarity') | translate }}</mat-label>
    <mat-select multiple [value]="rarityFilter" (selectionChange)="changeRarityFilter($event)">
      <mat-option *ngFor="let f of rarities" [value]="f">
        {{ f }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox class="app-multi-select-checkbox" [checked]="displayOverflow"
                (change)="displayOverflow = $event.checked">
    {{ i18n('display-overflow') | translate }}
  </mat-checkbox>
</div>
<app-inventory-list subtitle="common" [items]="common" [displayOverflow]="displayOverflow"></app-inventory-list>
<app-inventory-list subtitle="1/4" [items]="monThu" [displayOverflow]="displayOverflow"></app-inventory-list>
<app-inventory-list subtitle="2/5" [items]="tueFri" [displayOverflow]="displayOverflow"></app-inventory-list>
<app-inventory-list subtitle="3/6" [items]="wedSat" [displayOverflow]="displayOverflow"></app-inventory-list>
