<h4 class="inventory-subtitle">
  {{ i18n('common') | translate }}
</h4>
<app-material-list [items]="others"></app-material-list>
<h4 class="inventory-subtitle">
  {{ i18n('1/4') | translate }}
</h4>
<app-material-list [items]="monThu"></app-material-list>
<h4 class="inventory-subtitle">
  {{ i18n('2/5') | translate }}
</h4>
<app-material-list [items]="tueFri"></app-material-list>
<h4 class="inventory-subtitle">
  {{ i18n('3/6') | translate }}
</h4>
<app-material-list [items]="wedSat"></app-material-list>
