<app-form-field class="form-container" [ngClass]="{'hover': hover, 'focus': focus}"
                (mouseenter)="hover = true" (mouseleave)="hover = false">
  <label form-label>
    <ng-content select="[form-label]"></ng-content>
  </label>
  <div class="input-container">
    <div #prefix [ngClass]="{'prefix': prefix.children.length > 0}">
      <ng-content select="[prefix]"></ng-content>
    </div>
    <input class="input-field w-full" type="text" [value]="value" [disabled]="disabled"
           (focusin)="focus = true" (focusout)="focus = false"
           #field (input)="inputted.emit(value = field.value)" (change)="changed.emit(value = field.value)">
    <div #suffix [ngClass]="{'suffix': suffix.children.length > 0}">
      <ng-content select="[suffix]"></ng-content>
    </div>
  </div>
</app-form-field>
