<app-character-list [party]="true" [characters]="characters" [itemWidth]="360"
                    [sortFields]="['level', 'rarity', 'constellation']" sort="level"
                    #list (selected)="selected.emit($event)" [selectedItems]="selectedItems"
                    (multiSelected)="multiSelected.emit($event)">
  <div class="actions" actions>
    <app-ring-button class="add-btn" (click)="add.emit($event)">
      {{ i18n.module('add') | translate }}
    </app-ring-button>
    <ng-content select="[actions]"></ng-content>
  </div>
  <ng-template let-item #right>
    <ng-container *ngIf="getParty(item) as party">
      <ng-container *ngIf="getPlan(party) as plan">
        <div class="item-overview">
          <div>
            <b>{{ i18n.dict('constellation') | translate }}</b>
          </div>
          <div class="col-span-3">
            {{ party.constellation }}
          </div>
          <div class="item-overview-odd">
            <b>{{ i18n.dict('ascension') | translate }}</b>
          </div>
          <div class="item-overview-odd" [class.col-span-3]="party.ascension >= plan.ascension">
            ★{{ party.ascension }}
          </div>
          <div class="item-overview-odd" *ngIf="party.ascension < plan.ascension">
            →
          </div>
          <div class="item-overview-odd" *ngIf="party.ascension < plan.ascension">
            ★{{ plan.ascension }}
          </div>
          <div>
            <b>{{ i18n.dict('level') | translate }}</b>
          </div>
          <div [class.col-span-3]="party.level >= plan.level">
            {{ party.level }}
          </div>
          <div *ngIf="party.level < plan.level">
            →
          </div>
          <div *ngIf="party.level < plan.level">
            {{ plan.level }}
          </div>
          <ng-container *ngFor="let talent of party.talents; let i = index">
            <div [class.item-overview-odd]="i % 2 === 0">
              <b>{{ i18n.dict('talent-types.' + talent.id % 10) | translate }}</b>
            </div>
            <div [class.item-overview-odd]="i % 2 === 0" [class.col-span-3]="talent.level >= plan.talents[i].level">
              {{ talent.level }}
            </div>
            <div [class.item-overview-odd]="i % 2 === 0" *ngIf="talent.level < plan.talents[i].level">
              →
            </div>
            <div [class.item-overview-odd]="i % 2 === 0" *ngIf="talent.level < plan.talents[i].level">
              {{ plan.talents[i].level }}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</app-character-list>
