<mat-toolbar fxLayout="row">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  {{ i18n.module('add') | translate }}
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center" class="subpage-padding">
  <div *ngIf="!selected" @listTrigger>
    <app-character-list [characters]="characters" (selected)="select($event)"></app-character-list>
  </div>
  <div *ngIf="selected" @formTrigger class="add-character-form" fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 100px">
      <app-item-view category="characters" [id]="selectedCharacter.id" [rarity]="selectedCharacter.rarity">
      </app-item-view>
    </div>
    <app-character-plan-form [character]="selectedCharacter" [plan]="selectedPlan">
    </app-character-plan-form>
  </div>
  <div *ngIf="selected" fxLayout="row" fxLayoutGap="16px" style="width: 240px">
    <button mat-stroked-button fxFlex="50%" color="warn" (click)="reset()">
      {{ i18n.module('reset') | translate }}
    </button>
    <button mat-flat-button fxFlex="50%" color="primary" [disabled]="!selected" (click)="add()">
      {{ i18n.module('add') | translate }}
    </button>
  </div>
</div>
