<header class="toolbar">
  <div class="toolbar-left">
    <button class="toolbar-btn" (click)="showMenu.emit(true)">
      <span class="material-icons">menu</span>
    </button>
    <h1 class="title">
      {{ i18n.dict('title') | translate }}
    </h1>
  </div>
  <div class="language-settings">
    <span class="material-icons toolbar-btn" id="language-btn">translate</span>
    <ul *ngIf="settings.locale | async as currLocale" class="language-menu">
      <li
        class="language-option"
        *ngFor="let locale of settings.allLocales"
        [class.selected]="locale.value === currLocale"
        (click)="settings.useLocale(locale.value)"
      >
        {{ locale.text }}
      </li>
    </ul>
  </div>
</header>
