<div class="plan-form-container">
  <app-item-view category="weapons" [id]="weapon.id" [rarity]="weapon.rarity"></app-item-view>
  <app-select class="attribute-select" [options]="refineRanks" [value]="weapon.refine"
              (changed)="setRefineRank($event)">
    <span form-label>
      {{ i18n.dict('refine-rank') | translate }}
    </span>
  </app-select>
  <app-current-goal-level-select label="weapon" [ascension]="weapon.ascension" [goalAscension]="plan.ascension"
                                 [level]="weapon.level" [goalLevel]="plan.level"
                                 [satisfied]="plans[0].satisfied" (executePlan)="executePlan.emit(0)"
                                 (currentChange)="setCurrentLevel($event)" (goalChange)="setGoalLevel($event)">
  </app-current-goal-level-select>
  <div *ngFor="let bonus of weapon.expBonus || []">
    {{ i18n.module('exp-bonus') | translate: bonus }}
  </div>
  <ng-container *ngIf="plans[0].hasOwnProperty('text')">
    <app-ring-button class="execute-all-btn" [class.satisfied]="plans[0].satisfied | async"
                     [disabled]="!(plans[0].satisfied | async)" (click)="executePlan.emit(0)">
      {{ i18n.module('execute-all-plan') | translate }}
    </app-ring-button>
  </ng-container>
</div>
