.title {
  @apply text-lg;
  @apply font-semibold;
}

.item-list {
  @apply p-2;
  @apply grid;
  @apply gap-4;
  grid-template-columns: repeat(auto-fill, 140px);
  @apply place-content-evenly;
}

.detail-container {
  @apply relative;
  @apply rounded;
  @apply border-2;
}

.cost-detail-btn {
  @apply absolute;
  @apply top-1;
  @apply right-1;
  @apply text-secondary-200;
  @apply cursor-pointer;
  @apply appearance-none;
  @apply focus:outline-none;
  width: 32px;
  height: 32px;
}

.detail {
  @apply flex;
  @apply flex-col;
  @apply px-1;
  @apply text-xs;

  &::ng-deep {
    .form-field {
      @apply my-0.5;
    }

    .form-field-content, .input-field {
      @apply text-right;
    }
  }

  &.conciseMode {
    @apply pb-2;
  }
}

.craft-btn {
  @apply m-2;

  ::ng-deep .ring-btn {
    @apply w-full;
    @apply mt-0;
  }
}
