<ng-container *ngFor="let items of materials">
  <app-form-field *ngIf="items.materials.length > 0" [label]="i18n.module(items.type)">
    <div class="item-list">
      <div
        *ngFor="let item of items.materials; trackBy: trackItem"
        class="detail-container"
      >
        <app-item-view category="materials" [width]="138" [item]="item.info">
        </app-item-view>
        <button
          *ngIf="!(conciseMode || hiddenDetail)"
          class="cost-detail-btn"
          [tabIndex]="-1"
          (click)="detailDialog.open(item)"
        >
          <span class="material-icons"> info </span>
        </button>
        <div class="detail">
          <ng-container *ngIf="!conciseMode">
            <app-form-field [label]="i18n.module('need')">
              {{ item.need | number: '1.0-0' }}
            </app-form-field>
            <app-form-field
              [style.color]="item.overflow ? 'gray' : 'red'"
              [label]="i18n.module(item.overflow ? 'overflow' : 'lack')"
            >
              {{ item.lack | number: '1.0-0' }}
            </app-form-field>
          </ng-container>
          <app-input-field
            [label]="i18n.module('have')"
            [value]="(item.have | number: '1.0-0') || '0'"
            [disabled]="item.readonly"
            (changed)="correct(item, $event)"
          ></app-input-field>
          <app-ring-button
            *ngIf="!conciseMode"
            class="craft-btn"
            [disableTab]="true"
            [disabled]="notCraftable(item)"
            (clicked)="craftDialog.open(item)"
          >
            {{ getCraftBtnText(item) | translate }}
          </app-ring-button>
        </div>
      </div>
    </div>
  </app-form-field>
</ng-container>
<app-material-detail-dialog #detailDialog></app-material-detail-dialog>
<app-craft-dialog #craftDialog></app-craft-dialog>
