<app-material-list [items]="mora">
  <ng-template let-item #bottom>
    <app-amount-input [id]="item.id"></app-amount-input>
  </ng-template>
</app-material-list>
<app-material-list [items]="characterExpMaterials">
  <ng-template let-item #bottom>
    <app-amount-input [id]="item.id"></app-amount-input>
  </ng-template>
</app-material-list>
<app-material-list [items]="weaponExpMaterials">
  <ng-template let-item #bottom>
    <app-amount-input [id]="item.id"></app-amount-input>
  </ng-template>
</app-material-list>
<app-material-list [items]="oreMaterials">
  <ng-template let-item #bottom>
    <app-amount-input [id]="item.id"></app-amount-input>
  </ng-template>
</app-material-list>
