<div class="options">
  <app-select class="option" [options]="sorts" [value]="sort" (changed)="changeSort($event)">
    <span form-label>
      {{ i18n.dict('sort') | translate }}
    </span>
  </app-select>
  <app-multi-select class="option" [options]="rarities" [values]="rarityFilter" (changed)="filterRarity($event)">
    <span form-label>
      {{ i18n.dict('rarity') | translate }}
    </span>
  </app-multi-select>
  <app-multi-select class="option" [options]="types" [values]="typeFilter" (changed)="filterType($event)">
    <span form-label>
      {{ i18n.dict('type') | translate }}
    </span>
  </app-multi-select>
  <div>
    <ng-content select="[actions]"></ng-content>
  </div>
</div>
<div class="list" [ngStyle]="{'grid-template-columns': 'repeat(auto-fill, ' + itemWidth + 'px)'}">
  <div *ngFor="let item of items" class="overview" [class.selected]="selectedItems.includes(item)"
       (click)="select(item)">
    <app-item-view category="weapons" [id]="item.id" [rarity]="item.rarity"></app-item-view>
    <img class="weapon-type-hint" [src]="images.get('weapon-types', item.type)"
         [alt]="i18n.dict('weapon-types.' + item.type) | translate">
    <ng-container *ngIf="party && rightTemplateRef"
                  [ngTemplateOutlet]="rightTemplateRef" [ngTemplateOutletContext]="{$implicit: item}">
    </ng-container>
  </div>
</div>
