<app-weapon-list-options
  *ngIf="view.options | async as options"
  [viewSort]="true"
  (changed)="update()"
>
  <ng-content></ng-content>
</app-weapon-list-options>
<div class="container">
  <div class="item-list">
    <div
      *ngFor="let item of items; trackBy: trackItem"
      class="item-overview"
      [class.selected]="selectedItems.includes(item)"
      (click)="select(item)"
      (dblclick)="doubleClick(item)"
    >
      <app-item-view
        category="weapons"
        [id]="item.info.id"
        [rarity]="item.info.rarity"
      ></app-item-view>
      <img
        class="weapon-type-hint"
        [src]="images.get('weapon-types', item.info.type)"
        [alt]="i18n.dict('weapon-types.' + item.info.type) | translate"
      />
      <table class="item-overview-table">
        <tr>
          <td>{{ i18n.dict('refine-rank') | translate }}</td>
          <td>
            {{ item.progress.refine }}
          </td>
        </tr>
        <tr>
          <td>{{ i18n.dict('level') | translate }}</td>
          <td>
            <app-item-overview-data
              [left]="level.getText(item.progress)"
              [right]="level.getText(item.plan)"
              [displayRight]="
                item.progress.ascension < item.plan.ascension ||
                item.progress.level < item.plan.level
              "
            >
            </app-item-overview-data>
          </td>
        </tr>
        <tr
          *ngFor="
            let type of service.getStatsTypes(item.info.id);
            let i = index
          "
        >
          <td>{{ i18n.stats(type) | translate }}</td>
          <td>
            <app-item-overview-stats-data
              [type]="type"
              [left]="item.currentStats.get(type)"
              [right]="item.planStats.get(type)"
              [displayRight]="
                item.currentStats.get(type) < item.planStats.get(type)
              "
            ></app-item-overview-stats-data>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="item-summary">
    <ng-container *ngIf="clickedItem as item; else notSelect">
      <app-item-view
        class="item-summary-thumb"
        category="weapons"
        [id]="item.info.id"
        [rarity]="item.info.rarity"
      ></app-item-view>
      <table class="item-summary-table">
        <tr>
          <td>{{ i18n.dict('rarity') | translate }}</td>
          <td>★{{ item.info.rarity }}</td>
        </tr>
        <tr>
          <td>{{ i18n.dict('type') | translate }}</td>
          <td>{{ i18n.dict('weapon-types.' + item.info.type) | translate }}</td>
        </tr>
      </table>
      <table class="item-summary-table">
        <tr>
          <td>{{ i18n.dict('refine-rank') | translate }}</td>
          <td>{{ item.progress.refine }}</td>
        </tr>
        <tr>
          <td>{{ i18n.dict('level') | translate }}</td>
          <td>
            <app-item-overview-data
              [left]="level.getText(item.progress)"
              [right]="level.getText(item.plan)"
              [displayRight]="
                item.progress.ascension < item.plan.ascension ||
                item.progress.level < item.plan.level
              "
            ></app-item-overview-data>
          </td>
        </tr>
        <tr
          *ngFor="
            let type of service.getStatsTypes(item.info.id);
            let i = index
          "
        >
          <td>{{ i18n.stats(type) | translate }}</td>
          <td>
            <app-item-overview-stats-data
              [type]="type"
              [left]="item.currentStats.get(type)"
              [right]="item.planStats.get(type)"
              [displayRight]="
                item.currentStats.get(type) < item.planStats.get(type)
              "
            ></app-item-overview-stats-data>
          </td>
        </tr>
      </table>
      <div *ngIf="item.info.ability.id as abilityId" class="item-ability">
        <h4>
          {{ i18n.dict('weapon-abilities.' + abilityId + '.name') | translate }}
        </h4>
        <div
          [innerHTML]="service.getAbilityDesc(item.info, item.progress.refine)"
        ></div>
      </div>
      <div class="item-material-required">
        <app-item-view
          *ngFor="let m of clickedItemMaterials"
          class="item-summary-thumb"
          category="materials"
          [id]="m.info.id"
          [rarity]="m.info.rarity"
        ></app-item-view>
      </div>
    </ng-container>
    <ng-template #notSelect>
      <ng-content select="[not-select]"></ng-content>
    </ng-template>
  </div>
</div>
