<div fxLayout="column" fxLayoutAlign="center center">
  <app-item-view category="weapons" [width]="220" [id]="data.id" [rarity]="data.rarity">
    <div container-right class="party-item-overview" gdAlignColumns="space-around stretch"
         gdColumns="repeat(2, auto)" gdRows="repeat(1, 1fr)"
         gdAreas="weapon weapon-data">
      <div gdArea="weapon" class="party-item-overview-label party-item-overview-row-non-border-top">
        <b>{{ i18nDict('type') | translate }}</b>
      </div>
      <div gdArea="weapon-data" class="party-item-overview-data party-item-overview-row-non-border-top">
        {{ i18nDict('weapon-types.' + data.type) | translate }}
      </div>
    </div>
  </app-item-view>
  <mat-form-field appearance="outline" floatLabel="always" class="app-form-field" style="margin-top: 16px">
    <mat-label>{{ i18nDict('refine-rank') | translate }}</mat-label>
    <mat-select [value]="refine" (selectionChange)="setRefine($event.value)">
      <mat-option *ngFor="let rank of refineRanks" [value]="rank">
        {{ rank }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-ascension-level-select [multi]="true" label="weapon" [width]="220" [horizontal]="false"
                              [ascension]="ascension" [level]="level" (multiLevelChange)="setLevel($event)">
  </app-ascension-level-select>
  <div mat-dialog-actions>
    <button mat-stroked-button (click)="remove(data)">
      {{ i18n('remove') | translate }}
    </button>
  </div>
</div>
