<app-select-container
  #container
  [valueText]="valueText | translate"
  [opened]="opened"
>
  <ng-container form-label>
    <ng-content select="[form-label]"></ng-content>
  </ng-container>
  <ng-container prefix>
    <ng-content select="[prefix]"></ng-content>
  </ng-container>
  <ng-container suffix>
    <ng-content select="[prefix]"></ng-content>
  </ng-container>
  <li
    *ngFor="let option of options"
    class="select-option"
    [class.selected]="option.value === value"
    (click)="change(option)"
  >
    {{ option.text | translate }}
  </li>
</app-select-container>
