<div fxLayout="column" style="margin: 4px; font-size: 8px">
  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="2px">
    <div>
      {{ i18n('need') | translate }}
    </div>
    <div class="inventory-data">
      {{ need | number: '1.0-0' }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="2px"
       [ngStyle]="{'color': lack > 0 ? 'red' : 'gray'}">
    <div>
      {{ i18n(lack > 0 ? 'lack' : 'overflow') | translate }}
    </div>
    <div *ngIf="lack > 0" class="inventory-data">
      {{ lack | number: '1.0-0' }}
    </div>
  </div>
  <ng-template #overflow>溢出</ng-template>
  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="4px">
    <div>
      {{ i18n('have') | translate }}
    </div>
    <input class="inventory-have" [style]="{width: width + 'px'}" [disabled]="readonly"
           [value]="have | number: '1.0-0'" (input)="correct($event)"
           (keydown.arrowUp)="inc()" (keydown.arrowDown)="dec()"/>
  </div>
</div>
