<app-dialog #dialog>
  <h2 title>
    {{ i18n.module('confirm-execute-plan') | paramTranslate: data }}
  </h2>
  <div class="material-list-container">
    <div class="material-list">
      <div *ngFor="let item of data.requirement" class="material-item-view">
        <app-item-view [item]="item.info" type="material"></app-item-view>
        <div class="material-item-need">
          {{ item.need | number: '1.0-0' }}
        </div>
      </div>
    </div>
  </div>
  <div actions class="execute-plan-actions">
    <app-ring-button (clicked)="dialog.close()">
      {{ i18n.dict('cancel') | translate }}
    </app-ring-button>
    <app-ring-button color="primary" (clicked)="confirm()">
      {{ i18n.dict('confirm') | translate }}
    </app-ring-button>
  </div>
</app-dialog>
