<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <mat-form-field fxFlex="1 1 12%" appearance="outline" floatLabel="always" class="app-form-field">
    <mat-label>{{ i18n.dict('rarity') | translate }}</mat-label>
    <mat-select multiple [value]="rarityFilter" (selectionChange)="changeRarityFilter($event)">
      <mat-option *ngFor="let f of rarities" [value]="f">
        {{ f }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [checked]="showOverflow" (change)="showOverflow = $event.checked">
    {{ i18n.module('show-overflow') | translate }}
  </mat-checkbox>
</div>
<ng-container *ngIf="common$ | async as common">
  <app-inventory-list subtitle="common" [items]="common" [showOverflow]="showOverflow"></app-inventory-list>
</ng-container>
<ng-container *ngIf="boss$ | async as boss">
  <app-inventory-list subtitle="boss" [items]="boss" [showOverflow]="showOverflow"></app-inventory-list>
</ng-container>
<ng-container *ngIf="gem$ | async as gem">
  <app-inventory-list subtitle="gem" [items]="gem" [showOverflow]="showOverflow"></app-inventory-list>
</ng-container>
