<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <mat-form-field fxFlex="1 1 12%" appearance="outline" floatLabel="always" class="app-form-field">
    <mat-label>{{ i18n.dict('rarity') | translate }}</mat-label>
    <mat-select multiple [value]="rarityFilter" (selectionChange)="changeRarityFilter($event)">
      <mat-option *ngFor="let f of rarities" [value]="f">
        {{ f }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [checked]="showOverflow" (change)="showOverflow = $event.checked">
    {{ i18n.module('show-overflow') | translate }}
  </mat-checkbox>
</div>
<app-inventory-list subtitle="mob" [items]="mobs$" [showOverflow]="showOverflow"></app-inventory-list>
<app-inventory-list subtitle="elite" [items]="elites$" [showOverflow]="showOverflow"></app-inventory-list>
