<fieldset class="current-target-select-container" [style.width.px]="220"
          fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
  <legend>
    <ng-content></ng-content>
  </legend>
  <mat-form-field appearance="outline" floatLabel="always" class="app-form-field current-target-select-field-left">
    <mat-select [value]="current" (selectionChange)="changeCurrent($event.value)">
      <mat-option *ngFor="let value of currentOptions; let i = index" [value]="value">
        {{ valueDisplay(value) | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon fxFlex="auto" style="line-height: 20px">
    chevron_right
  </mat-icon>
  <mat-form-field appearance="outline" floatLabel="always" class="app-form-field current-target-select-field-right">
    <mat-select [value]="target" (selectionChange)="changeTarget($event.value)">
      <mat-option *ngFor="let value of targetOptions; let i = index" [value]="value">
        {{ valueDisplay(value) | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</fieldset>
