<div style="margin-top: 24px">
  <div class="statistic-row">
    <app-ascension-level-select (level)="level.copyFrom($event); calc(true)"></app-ascension-level-select>
    <div class="statistic-field">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>{{ i18n('dmg-type') | translate }}</mat-label>
        <mat-select [formControl]="dmgType" (selectionChange)="calc(true)">
          <mat-option *ngFor="let t of dmgTypes" [value]="t">
            <span [translate]="i18nDict('dmg')" [translateParams]="{type: i18nDict(t) | translate}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-divider inset></mat-divider>
  <div class="statistic-grid">
    <div *ngFor="let s of stat" class="flex-column">
      <div *ngFor="let f of s.fields, let i = index" class="statistic-field">
        <mat-form-field (change)="f.correct(); calc(s.label == 'current')"
                        (input)="calc(s.label == 'current')" appearance="outline" floatLabel="always">
          <mat-label [translate]="i18n(s.labels[i])"
                     [translateParams]="{label: i18n(s.label) | translate, type: i18nDict(dmgType.value) | translate}">
          </mat-label>
          <input [formControl]="f.control" [max]="f.max" [min]="f.min" matInput required type="number"/>
          <div *ngIf="f.suffix" matSuffix>{{ f.suffix }}</div>
        </mat-form-field>
      </div>
      <div *ngFor="let f of s.dmgFields, let i = index" class="statistic-field">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label [translate]="i18n(s.dmgLabels[i])" [translateParams]="{label: i18n(s.label) | translate}">
          </mat-label>
          <input [value]="f() | number: '1.1-1'" matInput/>
        </mat-form-field>
      </div>
      <button mat-stroked-button class="copy-button" color="accent" (click)="copy(s)">
        <span>{{ i18n('copy-to') | translate: {label: i18n(s.copyLabel) | translate} }}</span>
      </button>
    </div>
    <div class="flex-column">
      <div *ngFor="let f of comparer.fields" class="statistic-field">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>{{ i18n('change') | translate }}</mat-label>
          <input [value]="comparer.calc(f) | number: '1.1-1'" matInput readonly/>
          <div matSuffix>%</div>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
