<div *ngIf="view.options | async as options" class="options">
  <app-multi-select
    *ngIf="viewSort"
    class="option"
    [ordered]="true"
    [options]="view.sorts"
    [values]="options.sort"
    (changed)="view.changeSort($event); changed.emit()"
  >
    <span form-label>
      {{ viewInfoSort ? (i18n.dict('progress-list') | translate) : '' }}
      {{ i18n.dict('sort') | translate }}
    </span>
  </app-multi-select>
  <app-multi-select
    *ngIf="viewInfoSort"
    class="option"
    [ordered]="true"
    [options]="view.infoSorts"
    [values]="options.infoSort"
    (changed)="view.changeInfoSort($event); changed.emit()"
  >
    <span form-label>
      {{ viewSort ? (i18n.dict('info-list') | translate) : '' }}
      {{ i18n.dict('sort') | translate }}
    </span>
  </app-multi-select>
  <app-multi-select
    class="option"
    [options]="view.rarities"
    [values]="options.rarities"
    (changed)="view.filterRarity($event); changed.emit()"
  >
    <span form-label>
      {{ i18n.dict('rarity') | translate }}
    </span>
  </app-multi-select>
  <app-multi-select
    class="option"
    [options]="view.elements"
    [values]="options.elements"
    (changed)="view.filterElement($event); changed.emit()"
  >
    <span form-label>
      {{ i18n.dict('element') | translate }}
    </span>
  </app-multi-select>
  <app-multi-select
    class="option"
    [options]="view.weapons"
    [values]="options.weapons"
    (changed)="view.filterWeapon($event); changed.emit()"
  >
    <span form-label>
      {{ i18n.dict('weapon') | translate }}
    </span>
  </app-multi-select>
  <div class="actions">
    <ng-content></ng-content>
  </div>
</div>
