<app-weapon-list [party]="true" [weapons]="weapons" [itemWidth]="300"
                 [sortFields]="['level', 'rarity', 'refine']" sort="level"
                 #list (selected)="selected.emit($event)" [selectedItems]="selectedItems"
                 (multiSelected)="multiSelected.emit($event)">
  <div class="actions" actions>
    <app-ring-button class="add-btn" (click)="add.emit($event)">
      {{ i18n.module('add') | translate }}
    </app-ring-button>
    <ng-content select="[actions]"></ng-content>
  </div>
  <ng-template let-item #right>
    <ng-container *ngIf="getParty(item) as party">
      <ng-container *ngIf="getPlan(party) as plan">
        <div class="item-overview">
          <div>
            <b>{{ i18n.dict('refine') | translate }}</b>
          </div>
          <div class="col-span-3">
            {{ party.refine }}
          </div>
          <div class="item-overview-odd">
            <b>{{ i18n.dict('ascension') | translate }}</b>
          </div>
          <div class="item-overview-odd" [class.col-span-3]="party.ascension >= plan.ascension">
            ★{{ party.ascension }}
          </div>
          <div class="item-overview-odd" *ngIf="party.ascension < plan.ascension">
            →
          </div>
          <div class="item-overview-odd" *ngIf="party.ascension < plan.ascension">
            ★{{ plan.ascension }}
          </div>
          <div>
            <b>{{ i18n.dict('level') | translate }}</b>
          </div>
          <div [class.col-span-3]="party.level >= plan.level">
            {{ party.level }}
          </div>
          <div *ngIf="party.level < plan.level">
            →
          </div>
          <div *ngIf="party.ascension < plan.ascension">
            {{ plan.level }}
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</app-weapon-list>
