<app-weapon-list [party]="true" [weapons]="weapons" [height]="80" [itemWidth]="280"
                 [sortFields]="['level', 'rarity', 'refine']" sort="level"
                 #list (selected)="selected.emit($event)" [selectedItems]="selectedItems"
                 (multiSelected)="multiSelected.emit($event)">
  <div fxLayout="row" fxLayoutAlign="center center" list-actions>
    <button type="button" class="add-party-btn" mat-stroked-button (click)="add.emit($event)">
      {{ i18n.module('add') | translate }}
    </button>
    28
    <ng-content select="[list-actions]"></ng-content>
  </div>
  <ng-template let-item #right>
    <ng-container *ngIf="getParty(item) as party">
      <ng-container *ngIf="getPlan(party) as plan">
        <div class="party-item-overview" gdAlignColumns="space-around stretch"
             gdColumns="auto 72px" gdRows="repeat(3, 1fr)">
          <div class="party-item-overview-label party-item-overview-row-non-border-top">
            <b>{{ i18n.dict('refine') | translate }}</b>
          </div>
          <div class="party-item-overview-row party-item-overview-row-non-border-top">
            {{ party.refine }}
          </div>
          <div class="party-item-overview-label">
            <b>{{ i18n.dict('ascension') | translate }}</b>
          </div>
          <div class="party-item-overview-row">
            ★{{ party.ascension }}
            <ng-container *ngIf="party.ascension < plan.ascension">
              → ★{{ plan.ascension }}
            </ng-container>
          </div>
          <div class="party-item-overview-label">
            <b>{{ i18n.dict('level') | translate }}</b>
          </div>
          <div class="party-item-overview-row">
            {{ party.level }}
            <ng-container *ngIf="party.level < plan.level">
              → {{ plan.level }}
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</app-weapon-list>
