<app-dialog #dialog (closed)="close()">
  <div title>
    {{ i18n.data('material', id) | translate }}
    -
    {{ i18n.module('have') | translate }}
    {{ have | number: '1.0-0' }}
  </div>
  <div class="content" *ngIf="marks.length > 0">
    <table>
      <thead>
        <tr class="bg-primary-200">
          <th>{{ i18n.module('name') | translate }}</th>
          <th>{{ i18n.module('purpose') | translate }}</th>
          <th>{{ i18n.module('detail') | translate }}</th>
          <th>{{ i18n.module('requirement') | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let markGroup of marks">
          <tr *ngFor="let mark of markGroup; let i = index">
            <td *ngIf="i === 0" [rowSpan]="markGroup.length" class="text-center">
              {{ i18n.data(mark.type, mark.id) | translate }}
            </td>
            <td [colSpan]="mark.purpose !== totalAmountPurpose ? 1 : 2" class="text-center">
              {{ mark.purpose | translate }}
            </td>
            <td *ngIf="mark.purpose !== totalAmountPurpose">
              <div class="detail-cell">
                <span>{{ mark.start }}</span>
                →
                <span>{{ mark.goal }}</span>
              </div>
            </td>
            <td class="text-right">
              {{ mark.need | number: '1.0-0' }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div actions>
    <app-ring-button class="close-btn" (clicked)="close()">
      {{ i18n.dict('close') | translate }}
    </app-ring-button>
  </div>
</app-dialog>
