<div>
  <div fxLayout="row wrap">
    <ng-content select="[list-actions]"></ng-content>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="24px">
    <div *ngFor="let item of items" class="weapon-list-item">
      <app-item-view category="weapons" [id]="item.id" [rarity]="item.rarity" (click)="selected.emit(item)">
        <ng-container *ngIf="party && rightTemplateRef" container-right
                      [ngTemplateOutlet]="rightTemplateRef" [ngTemplateOutletContext]="{$implicit: item}">
        </ng-container>
      </app-item-view>
    </div>
  </div>
</div>
