<div style="display: block; margin-top: 12px">
  <div fxLayout="row" fxLayoutGap="4px">
    <mat-form-field fxFlex="1 1 20%" appearance="outline" floatLabel="always" class="app-form-field">
      <mat-label>{{ i18nDict('type') | translate }}</mat-label>
      <mat-select [value]="typeFilter" (selectionChange)="changeTypeFilter($event)" multiple>
        <mat-option *ngFor="let t of types" [value]="t">
          {{ i18nDict('weapon-types.' + t) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-content fxFlex="1 1 auto" select="[list-actions]"></ng-content>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="24px" style="margin: 4px">
    <div *ngFor="let item of items" class="weapon-list-item">
      <app-item-view category="weapons" [id]="item.id" [rarity]="item.rarity" (click)="selected.emit(item)">
        <ng-container *ngIf="party && rightTemplateRef" container-right
                      [ngTemplateOutlet]="rightTemplateRef" [ngTemplateOutletContext]="{$implicit: item}">
        </ng-container>
      </app-item-view>
    </div>
  </div>
</div>
