<app-select-container
  [customDropdown]="customDropdown"
  [valueText]="valueText"
  [opened]="opened"
  (click)="opened = true"
>
  <ng-container form-label>
    <ng-content select="[form-label]"></ng-content>
  </ng-container>
  <ng-template #customDropdown>
    <div *ngIf="opened" class="select-dropdown p-2">
      <div>
        {{ i18n.dict('ascension-label') | translate }}
        {{ ascension }}
      </div>
      <app-slider
        [value]="ascension"
        [min]="ascensionRange[0]"
        [max]="ascensionRange[1]"
        (changed)="changeAscension($event)"
      >
      </app-slider>
      <div class="mt-4">
        {{ i18n.dict('level') | translate }}
        {{ level }}
      </div>
      <app-slider
        [value]="level"
        [min]="levelRange[0]"
        [max]="levelRange[1]"
        (changed)="changeLevel($event)"
      >
      </app-slider>
    </div>
  </ng-template>
</app-select-container>
