<app-select
  [customDropdown]="customDropdown"
  [label]="label"
  [valueText]="valueText"
  [opened]="opened"
  (click)="opened = true"
>
  <ng-template #customDropdown>
    <div class="select-container">
      <div>
        {{ i18n.dict('ascension') | translate }}
        {{ ascension }}
      </div>
      <app-slider
        [value]="ascension"
        [min]="ascensionRange[0]"
        [max]="ascensionRange[1]"
        (changed)="changeAscension($event)"
      ></app-slider>
      <div class="mt-4">
        {{ i18n.dict('level') | translate }}
        {{ level }}
      </div>
      <app-slider
        [value]="level"
        [min]="levelRange[0]"
        [max]="levelRange[1]"
        (changed)="changeLevel($event)"
      ></app-slider>
    </div>
  </ng-template>
</app-select>
