@tailwind base;

body {
  @apply mx-auto;
  @apply min-h-screen;
}

@tailwind components;

.subpage-padding {
  @extend .subpage-top-padding;
  @extend .subpage-horizontal-padding;
}

.subpage-top-padding {
  padding-top: 16px;
}

.subpage-horizontal-padding {
  padding-left: 16px;
  padding-right: 16px;
}

@tailwind utilities;
