@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.page-one-col-width {
  width: 60vh;
}

.page-one-col {
  display: flex;
  flex-direction: column;
}

.page-one-col-center {
  @extend .page-one-col;
  align-items: center;
}

h1, h2 {
  &.header {
    margin-bottom: 8px;
  }
}

.subpage-padding {
  @extend .subpage-top-padding;
  @extend .subpage-horizontal-padding;
}

.subpage-top-padding {
  padding-top: 16px;
}

.subpage-horizontal-padding {
  padding-left: 16px;
  padding-right: 16px;
}
