.item-overview {
  @extend .item-summary-thumb;
  @apply relative;
  @apply flex;
  @apply flex-row;
  @apply cursor-pointer;

  &.selected {
    @apply ring;
    @apply ring-offset-2;
  }
}

.weapon-type-hint {
  @apply absolute;
  @apply top-1;
  @apply h-8;
  @apply w-8;
}

.item-overview-table {
  @apply w-full;
  @apply h-full;
  @apply text-sm;
  @apply text-center;
  @apply border-l;

  td:nth-child(odd) {
    @apply font-bold;
  }

  td:nth-child(even) {
    @apply w-36;
  }

  tr:nth-child(even) {
    @apply bg-primary-100;
  }
}

.item-summary-thumb {
  @apply border;
  @apply rounded;
}

.item-summary-table {
  @extend .item-overview-table;
  @apply w-80;
  @apply h-auto;
  @apply border;
}

.item-material-required {
  @apply grid;
  @apply grid-cols-3;
  @apply gap-2;
}
