<div class="settings-page" *ngIf="information.options | async as options">
  <div class="settings-header">
    <button class="icon-btn" (click)="goBack()">
      <span class="material-icons">arrow_back</span>
    </button>
    <h2 class="text-xl font-bold">
      {{ i18n.module('title') | translate }}
    </h2>
  </div>
  <app-select
    [label]="i18n.module('traveler-gender')"
    [options]="genders"
    [value]="options.travelerGender"
    (changed)="information.changeTravelerGender($event)"
  ></app-select>
  <app-form-field [label]="i18n.dict('list-options')">
    <app-character-view-options [viewSort]="true" [viewInfoSort]="true">
    </app-character-view-options>
  </app-form-field>
</div>
