@import '../../styles/party-item-detail-padding';

.party-item-detail-subpage {
  min-height: 82vh;
}

.character-portrait {
  width: 240px;
  opacity: 0.5;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
