<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <mat-form-field fxFlex="1 1 12%" appearance="outline" floatLabel="always" class="app-form-field">
    <mat-label>{{ i18nDict('rarity') | translate }}</mat-label>
    <mat-select multiple [value]="rarityFilter" (selectionChange)="changeRarityFilter($event)">
      <mat-option *ngFor="let f of rarities" [value]="f">
        {{ f }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox class="app-multi-select-checkbox" [checked]="showOverflow" (change)="showOverflow = $event.checked">
    {{ i18n('show-overflow') | translate }}
  </mat-checkbox>
</div>
<ng-container *ngIf="common$ | async as common">
  <app-inventory-list subtitle="common" [items]="common" [showOverflow]="showOverflow"></app-inventory-list>
</ng-container>
<ng-container *ngIf="items$ | async as items">
  <app-inventory-list subtitle="1/4" [items]="items[0]" [showOverflow]="showOverflow"></app-inventory-list>
  <app-inventory-list subtitle="2/5" [items]="items[1]" [showOverflow]="showOverflow"></app-inventory-list>
  <app-inventory-list subtitle="3/6" [items]="items[2]" [showOverflow]="showOverflow"></app-inventory-list>
</ng-container>
