<div class="character-stat-optimizer-page" fxLayout="column">
  <div *ngFor="let f of fields">
    <div fxLayout="row" *ngIf="f.visible()" style="height: 48px">
      <div *ngFor="let s of f.fields" class="app-form-field">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label [translate]="i18n.module(s.label)"
                     [translateParams]="{label: i18n.module(f.label) | translate}"></mat-label>
          <input [value]="s.value * 100 | number: '1.1-1'" matInput readonly/>
          <div matSuffix>%</div>
        </mat-form-field>
      </div>
      <div class="character-stat-optimizer-button">
        <button mat-raised-button (click)="f.action()" [color]="f.color">
          {{ i18n.module(f.actionText) | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
