<div fxLayout="column" fxLayoutAlign="center center">
  <app-item-view category="characters" [id]="data.character.id" [width]="220" [rarity]="data.character.rarity">
    <div container-right class="party-item-overview" gdAlignColumns="space-around stretch"
         gdColumns="repeat(2, auto-fill)" gdRows="repeat(3, 1fr)"
         gdAreas="element element-data | weapon weapon-data | nation nation-data">
      <div gdArea="element" class="party-item-overview-label party-item-overview-row-non-border-top">
        <b>{{ i18nDict('element') | translate }}</b>
      </div>
      <div gdArea="element-data" class="party-item-overview-data party-item-overview-row-non-border-top">
        {{ i18nDict('elements.' + data.character.element) | translate }}
      </div>
      <div gdArea="weapon" class="party-item-overview-label">
        <b>{{ i18nDict('weapon') | translate }}</b>
      </div>
      <div gdArea="weapon-data" class="party-item-overview-data">
        {{ i18nDict('weapon-types.' + data.character.weapon) | translate }}
      </div>
      <div gdArea="nation" class="party-item-overview-label">
        <b>{{ i18nDict('nation') | translate }}</b>
      </div>
      <div gdArea="nation-data" class="party-item-overview-data">
        {{ i18nDict('nations.' + (data.character.nation || 0)) | translate }}
      </div>
    </div>
  </app-item-view>
  <app-character-detail-form [character]="data.character" [plan]="data.plan"
                             (currentChange)="saveParty()" (goalChange)="savePlan()">
  </app-character-detail-form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="remove(data.character.id)">
    {{ i18n('remove') | translate }}
  </button>
</div>
