<div class="page">
  <h1 class="title">
    {{ i18n.module('replenish-time-title') | translate }}
  </h1>
  <div class="resin-inputs-grid">
    <div class="resin-field p-2">
      {{ i18n.module('current-resin') | translate: {value: currentResin} }}
      <app-slider
        [min]="0"
        [max]="service.maxResin"
        (changed)="setCurrentResin($event)"
      ></app-slider>
    </div>
    <div class="resin-field p-2">
      {{ i18n.module('replenish-in-minutes') | translate: {value: minutes} }}
      <app-slider
        [min]="1"
        [max]="service.replenishUseMinutes"
        (changed)="setReplenishInMinutes($event)"
      ></app-slider>
    </div>
    <app-form-field
      *ngFor="let r of replenishResults"
      class="replenish-result"
      [class.disabled]="currentResin >= r.target"
      [label]="i18n.module('replenish-to') | translate: {value: r.target}"
    >
      {{ currentResin >= r.target ? (i18n.dict('now') | translate) : r.time }}
    </app-form-field>
  </div>
  <div class="resin-inputs-grid">
    <div class="resin-field">
      <app-datetime-picker
        [label]="i18n.module('target-time')"
        [value]="targetDate"
        (changed)="setTargetDate($event)"
      ></app-datetime-picker>
    </div>
    <app-form-field class="resin-field" [label]="i18n.module('resin-exceed-check')">
      <ul class="resin-checked-results">
        <li *ngFor="let it of advice">{{ it }}</li>
      </ul>
    </app-form-field>
  </div>
</div>
