<app-character-list-options [viewInfoSort]="true" (changed)="update()">
  <div actions>
    <ng-content select="[actions]"></ng-content>
  </div>
</app-character-list-options>
<div class="list">
  <div *ngFor="let item of items" class="overview" (click)="select(item)">
    <app-item-view
      category="characters"
      [id]="item.id"
      [rarity]="item.rarity"
      [backgroundDeps]="item.element"
    ></app-item-view>
    <img
      class="weapon-type-hint"
      [src]="images.get('weapon-types', item.weapon)"
      [alt]="i18n.dict('weapon-types.' + item.weapon) | translate"
    />
  </div>
</div>
