<ng-container *ngIf="items | async as details">
  <h4 class="inventory-subtitle" *ngIf="details.length > 0">
    {{ i18n.module(subtitle) | translate }}
  </h4>
  <div gdColumns="repeat(auto-fill, 140px)" gdGap="16px" gdAlignRows="space-around center">
    <div *ngFor="let detail of details; trackBy: trackItem" class="inventory-item">
      <app-item-view category="materials" [width]="140" [imgWidth]="140" [id]="detail.id" [rarity]="detail.rarity || 1">
        <div *ngIf="showCostDetails" image-top-left>
          <button mat-icon-button style="color: lawngreen" (click)="openCostDetailDialog(detail.id)">
            <mat-icon>help</mat-icon>
          </button>
        </div>
        <div image-bottom class="inventory-detail">
          <div gdColumns="auto auto">
            <div>
              {{ i18n.module('need') | translate }}
            </div>
            <div class="inventory-data">
              {{ detail.need | number: '1.0-0' }}
            </div>
            <div [ngStyle]="{'color': detail.overflow ? 'gray' : 'red'}">
              {{ i18n.module(detail.overflow ? 'overflow' : 'lack') | translate }}
            </div>
            <div class="inventory-data" [ngStyle]="{'color': detail.overflow ? 'gray' : 'red'}">
              {{ detail.lack | number: '1.0-0' }}
            </div>
            <div [ngStyle]="{'color': detail.overflow ? 'gray' : 'black'}">
              {{ i18n.module('craftable') | translate }}
            </div>
            <div class="inventory-data" [ngStyle]="{'color': detail.overflow ? 'gray' : 'black'}">
              {{ detail.craftable | number: '1.0-0' }}
            </div>
            <div>
              {{ i18n.module('have') | translate }}
            </div>
            <input class="inventory-have" [disabled]="detail.readonly"
                   [value]="detail.have | number: '1.0-0'" (change)="correct(detail, $event)"
                   (keydown.arrowUp)="inc(detail)" (keydown.arrowDown)="dec(detail)"/>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="4px">
            <button class="craft-button" (click)="craft(detail, 5)"
                    [disabled]="detail.craftable < 5 || detail.readonly">
              {{ i18n.module('craft-five') | translate }}
            </button>
            <button class="craft-button" (click)="craft(detail, 1)"
                    [disabled]="detail.craftable < 1 || detail.readonly">
              {{ i18n.module('craft-one') | translate }}
            </button>
          </div>
        </div>
      </app-item-view>
    </div>
  </div>
</ng-container>
