<div *ngIf="items$ | async as items">
  <span *ngIf="items.length > 0" class="title">
    {{ i18n.module(subtitle) | translate }}
  </span>
  <div class="list">
    <div *ngFor="let item of items; trackBy: trackItem" class="detail-container">
      <app-item-view category="materials" [width]="160" [id]="item.id" [rarity]="item.rarity || 1">
      </app-item-view>
      <button *ngIf="showCostDetails" class="cost-detail-btn" (click)="dialog.open(item.id)">
        <span class="material-icons">
          info
        </span>
      </button>
      <div class="detail">
        <app-form-field>
          <span form-label>
            {{ i18n.module('need') | translate }}
          </span>
          {{ item.need | number: '1.0-0' }}
        </app-form-field>
        <app-form-field [ngStyle]="{'color': item.overflow ? 'gray' : 'red'}">
          <span form-label>
            {{ i18n.module(item.overflow ? 'overflow' : 'lack') | translate }}
          </span>
          {{ item.lack | number: '1.0-0' }}
        </app-form-field>
        <app-form-field [ngStyle]="{'color': item.overflow ? 'gray' : 'black'}">
          <span form-label>
            {{ i18n.module('craftable') | translate }}
          </span>
          {{ item.craftable | number: '1.0-0' }}
        </app-form-field>
        <app-text-field [value]="(item.have | number: '1.0-0') || '0'" [disabled]="item.readonly"
                        (changed)="correct(item, $event)">
          <span form-label>
            {{ i18n.module('have') | translate }}
          </span>
        </app-text-field>
        <app-ring-button class="craft-btn" [disabled]="notCraftable(item)" (click)="inventory.craftItem(item, 1)">
          {{ i18n.module('craft-one') | translate }}
        </app-ring-button>
      </div>
    </div>
  </div>
</div>
<app-material-cost-detail-dialog #dialog></app-material-cost-detail-dialog>
