.title {
  @apply text-lg;
  @apply font-semibold;
}

.list {
  @apply grid;
  @apply gap-x-3;
  @apply gap-y-6;
  grid-template-columns: repeat(auto-fill, 162px);
  @apply place-content-around;
}

.detail-container {
  @apply relative;
  @apply rounded;
  @apply border-2;
}

.cost-detail-btn {
  @apply absolute;
  @apply top-1;
  @apply right-1;
  @apply text-secondary-200;
  @apply cursor-pointer;
  @apply appearance-none;
  @apply focus:outline-none;
  width: 32px;
  height: 32px;
}

.detail {
  @apply flex;
  @apply flex-col;
  @apply px-1;
  @apply text-xs;

  &::ng-deep {
    .form-field {
      @apply my-0.5;
    }

    .form-field-content {
      @apply text-right;
    }

    .input-field {
      @apply text-right;
    }
  }
}

.craft-btn {
  @apply m-2;

  ::ng-deep .ring-btn {
    @apply w-full;
    @apply h-full;
    @apply mt-0;
    @apply py-1.5;
  }
}
