<div style="display: block; margin-top: 12px">
  <div fxLayout="row" fxLayoutGap="4px">
    <mat-form-field fxFlex="1 1 20%" appearance="outline" floatLabel="always" class="app-form-field">
      <mat-label>{{ i18n('sort') | translate }}</mat-label>
      <mat-select [value]="sort" (selectionChange)="sort = $event.value; update()">
        <mat-option *ngFor="let f of sortFields" [value]="f">
          {{ i18nDict(f) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 20%" appearance="outline" floatLabel="always" class="app-form-field">
      <mat-label>{{ i18nDict('element') | translate }}</mat-label>
      <mat-select [value]="elementFilter" (selectionChange)="changeElementFilter($event)" multiple>
        <mat-option *ngFor="let t of elementTypes" [value]="t">
          {{ i18nDict('elements.' + t) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 20%" appearance="outline" floatLabel="always" class="app-form-field">
      <mat-label>{{ i18nDict('weapon') | translate }}</mat-label>
      <mat-select [value]="weaponFilter" (selectionChange)="changeWeaponFilter($event)" multiple>
        <mat-option *ngFor="let t of weaponTypes" [value]="t">
          {{ i18nDict('weapon-types.' + t) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-content select="[list-actions]"></ng-content>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="24px" style="margin: 4px">
    <app-item-view *ngFor="let item of items" class="items-list-item" [width]="itemWidth" #list (click)="select(item)"
                   category="characters" [id]="item.id" [rarity]="item.rarity">
      <div image-top-left>
        <img class="character-list-element-hint"
             [src]="'assets/images/elements/' + item.element + '.png'"
             [alt]="i18nDict('elements.' + item.element) | translate">
      </div>
      <div image-top-right>
        <img class="character-list-weapon-hint"
             [src]="'assets/images/weapon-types/' + item.weapon + '.png'"
             [alt]="i18nDict('weapon-types.' + item.weapon) | translate">
      </div>
      <ng-container container-right *ngIf="party && rightTemplateRef"
                    [ngTemplateOutlet]="rightTemplateRef" [ngTemplateOutletContext]="{$implicit: item}">
      </ng-container>
    </app-item-view>
  </div>
</div>
